seleniumSupport/XMLFolder/studentType.dtd

<!ELEMENT STUDENTS (Student+,Teacher)>
<!ELEMENT Student (Name,home,Sub)>
<!ELEMENT Teacher (Name,home,Sub)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT home (#PCDATA)>
<!ELEMENT Sub (#PCDATA)>
<!ATTLIST Student id ID #REQUIRED>
<!ATTLIST Teacher id ID  #REQUIRED>
<!ATTLIST Teacher Subject ID  #IMPLIED>